
/* components */
@import "/css/components/sidebar.css";
@import "./components/sidebar.css";


/* screen */
@import "screens/login.css";
@import "screens/main.css";
@import "screens/account.css";
@import "screens/idea.css";
@import "screens/diary_template.css";
@import "screens/write_diary.css";
@import "screens/profile.css";
@import "screens/write_idea.css";
@import "screens/diary_check.css";
@import "screens/search_diary.css";
@import "screens/search_result.css";
@import "screens/view_diary.css";
@import "screens/modify_diary.css";
@import "screens/account_setting.css";