/* 아이디어 읽기화면 */
.detailIdea {
    width: 663px;
    height: fit-content;
    background-color: 2B2B2B;
    border: 1px solid #3B3B3B;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    padding: 30px 40px;
    position: absolute;
    top: 0;
}



#ideaTitle {
    font-size: 40px;
    font-weight: 700;
}

#ideaDate {
    font-size: 24px;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}

#ideaContentHeader {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

#ideaContent {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 22px;
}

#ideaContent hr {
    border: 3px solid #2B2B2B;
    margin-top: 20px;
}

/* 이미지 Box */
#ideaImageBox {
    width: 600px;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}


.ideaImage img{
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #3b3b3b;

}




/* 버튼 */
.ideaButtonBox {
    width: 585px;
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}




.ideaButtonBox .ideaModify {
    width: 71px;
    height: 35px;
    background-color: #11E5B3;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
}

.ideaButtonBox .ideaDelete {
    width: 71px;
    height: 35px;
    background-color: #2B2B2B;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}

