body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.idea_title{
    margin-bottom: 20px;
}

.idea_content {
    position: absolute;
    top: 30px;
    text-align: center;
    color: white;
}

.idea_content span{
    color: gray;
}

.idea_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 박스 사이의 간격 설정 */
    padding-left: 230px; /* 여백 추가 */
    padding-right: 160px;
}
.create_idea_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 318px;
    height: 250px;
    background-color: #11E5B3;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
}

.create_idea_btn span {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.create_idea_btn i {
    margin-top: 20px;
    font-size: 50px;
    color: black;
}

.create_idea_btn:hover {
    background-color: #0fb69e; /* hover 시 배경색 변경 */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* 그림자 강화 */
}

.idea_tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 요소들을 위아래로 분산 배치 */
    align-items: flex-start; /* 요소들을 왼쪽으로 정렬 */
    width: 318px; 
    height: 250px;
    background-color: #2B2B2B;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 30px; /* 내부 여백 추가 */
    box-sizing: border-box;
    position: relative; /* 상대적 위치 지정 */
}

/* 아이디어 내용 컨테이너 스타일 */
.idea_content_container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px; 
    align-items: flex-start; 
}

#idea_tab_title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#idea_tab_date{
    font-size: 14px;
    color: #888; 
}

#idea_tab_content{
    font-size: 16px;
    color: white; 
}

.idea_tab_btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    margin-top: auto; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #2B2B2B;
    color: white; 
    border: none; 
    font-size: 18px; 
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.idea_tab_btn:hover {
    background-color: #1E1E1E;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}