body{
    background-color: #181818;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    padding: 20px;
    flex: 1;
    color: white;
}

#content_subtitle{
    font-size: 28px;
    color: #11E5B3;
    font-weight: bold;
}