.write_diary_container{
    margin-top: 20px;
}

.write_diary_title {
    display: flex;
    flex-direction: column;
}
.write_diary_title span {
    margin-bottom: 5px;
}
.write_diary_title input{
    width: 1024px;
    padding: 10px 10px 10px 18px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: #2B2B2B;
    color: white;
}

.write_diary_title input::placeholder{
    font-size: 16px;
    color: #727272;
}

.write_diary_middle{
    display: flex;
    flex-wrap: wrap;
}

.write_diary_middle_left{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 660px;
}

.write_diary_middle_right{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


#diary_subtitle1{
    margin-bottom: 10px;
}

#diary_subtitle2{
    margin-bottom: 10px;
}

#diary_subtitle3{
    margin-bottom: 10px;
}

#diary_subtitle4{
    margin-bottom: 10px;
}

#diary_content1{
    width: 635px;
    height: 416px;
    gap: 10px;
    border-radius: 20px;
    border: none; 
    outline: none; 
    resize: none; 
    padding: 20px;
    background-color: #2B2B2B;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

#diary_content2{
    width: 635px;
    height: 248px;
    gap: 10px;
    border-radius: 20px;
    border: none; 
    outline: none; 
    resize: none; 
    padding: 20px;
    background-color: #2B2B2B;
    color: white;
    font-size: 15px;
}

#diary_content3{
    width: 359px;
    height: 286px;
    border-radius: 20px;
    gap: 10px;
    border: none; 
    outline: none; 
    resize: none; 
    padding: 20px;
    background-color: #2B2B2B;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

#diary_content4{
    width: 359px;
    height: 182px;
    gap: 10px;
    border-radius: 20px;
    border: none; 
    outline: none; 
    resize: none; 
    padding: 20px;
    background-color: #2B2B2B;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

#hashtag{
    color: #11E5B3;
    margin-bottom: 10px;
}

#hashtag_content{
    font-family:sans-serif;
    width: 359px;
    height: 185px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #11E5B3;
    outline: none; 
    resize: none; 
    padding: 20px;
    background-color: #2B2B2B;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.diary_btn_container{
    display: flex;
    margin-top: 0;
    justify-content: flex-end;
}

.diary_btn{
        width: 108px;
        margin-top: 30px;
        margin-left: 20px;
        padding: 15px;
        background-color: #11E5B3;
        color: black;
        font-weight: bold;
        font-size: 15px;
        border-radius: 50px;
        border: none;
}

.diary_btn:hover {
    background-color: #0fb895;
    color: white; 
}

/* disabled 상태일 때 스타일 */
.diary_btn[disabled] {
    background-color: #ccc;
    color: #666;
}

#diary_cancel_btn {
    width: 108px;
    margin-top: 30px;
    padding: 15px;
    background-color: #3B3B3B;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    border: none;
}

#diary_cancel_btn:hover {
    background-color: #2a2a2a;
}

#write_diary_category{
    color: #11E5B3;
}

#guideline{
   width: 150px;
   height: 19px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-container span {
    display: flex;
    align-items: center;
}
.title-container img {
    margin-left: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 100%; /* 이미지 아래에 위치 */
    left: 40%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 410px; /* 박스 너비 */
    text-align: left; /* 텍스트 정렬 */
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    z-index: 10;
}

#guide_title{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
