.markdownBox {
    margin: 0;
    padding: 0;
    line-height: 20px;
    overflow-y: auto;
    color: white;
}

.markdownBox h1 {
    line-height: 40px;
}
.markdownBox h2 {
    line-height: 30px;
}
.markdownBox h3 {
    line-height: 20px;
}